.scroll_btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .scroll_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--text-color);
    border: 3px solid var(--background-header);
    border-radius: 50%;
    /* padding: 2.5px 5px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--delay) var(--transition);
    width: 35px;
    height: 35px;
  }
}
@media only screen and (min-width: 1440px) {
  .scroll_btn {
    padding: 5px 10px;
    width: 50px;
    height: 50px;
  }
}
.scroll_btn.show {
  opacity: 1;
}
.icon {
  fill: var(--text-color);
}
.scroll_btn:hover {
  background-color: var(--background-header);
}
